@use '../abstracts/variables' as var;
@use 'sass:map';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var.$primary-fonts;
  overflow-x: hidden;

  // &.dark-theme {
  //   color: var.$secondary-color;
  //   background-color: #333;
  // }

  // &.light {
  //   color: #333;
  //   background: var.$bg-primary-color;
  // }
}

main {
  margin-block: 3.5rem;
}

.notes-app {
  display: grid;
  padding: var.$padding-body;

  &.light {
    color: var.$primary-color;
    background: var.$bg-primary-color;
  }

  &.dark-theme {
    color: var.$primary-color;
    background: var.$bg-secondary-color;
  }
}

.wait {
  display: grid;
  gap: 5px;
  padding-top: 4.7rem;
  margin-inline: 15px;
  color: var.$primary-color;
  font-size: 1.2rem;
  padding-bottom: 30rem;
}

a,
input,
button,
textarea {
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
}
